html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  height: 100%;
}
#nav {
  border-radius: 0 0 50% 50%;
  float: left;
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 2rem;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#nav img {
  width: 100%;
}
#wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrapper #title {
  position: absolute;
  bottom: 2rem;
  height: 48px;
  min-width: 24px;
  padding: 14px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0 24px 24px 0;
  font-weight: 900;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#canvas {
  width: 100%;
  height: 100%;
  margin: 0% 0 0 0%;
  border: 1px solid white;
  background-color: cornflowerblue;
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#canvas:hover .cell {
  opacity: .9;
}
#canvas:hover .cell:hover {
  opacity: 1;
}
#canvas .cell {
  float: left;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#canvas .cell .nucleus {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-style: solid;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  background-size: cover;
  background-position: center;
}
#menu {
  position: absolute;
  right: 0;
  top: 2rem;
  border-radius: 50% 0 0 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
#menu .group {
  padding: 15px 20px 13px 22px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 2;
}
#menu:hover .group span.element {
  background-color: black;
}
#menu .group span.element {
  border-radius: 4px;
  width: 4px;
  height: 4px;
  clear: both;
  float: left;
  margin: 0 0 3px;
  background: #ccc;
  display: block;
  transition: background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#menu span.background{
  width: 0px;
  height: 0px;
  display: block;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#menu:hover span.background {
  width: 40px;
  height: 40px;
  top: 4px;
  left: 4px;
}
#tool {
  position: absolute;
  background-color: white;
  top: 2rem;
  right: 0;
  z-index: 3;
  padding: 0 1rem;
  border-radius: 8px 0 0 8px;
  width: 250px;
  box-sizing: border-box;
  max-height: 90%;
  overflow-y: scroll;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#tool.hidden {
  display: none;
}
#tool label {
  font-weight: 400;
  font-size: .8rem;
  clear: both;
  width: 100%;
  display: inline-block;
}
#tool label span {
  float: left;
}
#tool label #details {
  float: right;
  cursor: pointer;
  width: 15px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #aaa;
  margin: -5px 0px 3px 2px;
  color: #aaa;
}
#tool input {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  padding: .3rem;
  box-sizing: border-box;
  background: #eaecee;
  border-radius: 4px;
  border: none;
  width: 100%;
}
#tool input:disabled  {
  color: #929eaa;
}
#tool h2 {
  float: left;
}
#tool input#border {
  width: 66%;
  float: left;
  clear: left;
}
.borderColor {
  width: 2rem;
  height: 2rem;
  display: block;
  float: left;
  margin: 0 5px;
  margin-right: 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.borderColor#black {
  background: #333;
}
.borderColor#white {
  background: #eaecee;
}
#tool #metadata {
  display: none;
  color: #444;
  cursor: pointer;
  font-size: .8rem;
  line-height: 1.7;
}
ol#gridData{
  padding-left: 1rem;
  font-size: .8rem;
  width: 100%;
  box-sizing: border-box;
}
li p{
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
#refreshAllCells {
  border: none;
  padding: 11px;
  border-radius: 4px;
  margin: auto;
  display: block;
  background: #eaecee;
  cursor: pointer;
}
.iconContainer {
  padding: 2px;
  display: inline-block;
  box-sizing: border-box;
}
span.icon {
  background: #eaecee;
  border: 1px solid #d4d9dd;
  display: block;
  float: left;
  margin: 1px;
  border-radius: 1px;
}
span.icon.column {
  height: 11px;
  width: 4px;
}
span.icon.row {
  height: 4px;
  width: 11px;
  clear: left;
}
span.icon.column:last-of-type,
span.icon.row:last-of-type {
  margin-right: 4px;
}
#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0 0;
  background-color: white;
}
#controls p {
  font-size: .6rem;
  float: left;
  margin: 8px;
}
#latest,
#random {
  border: none;
  padding: 6px;
  border-radius: 4px;
  margin: auto;
  display: block;
  cursor: pointer;
  float: left;
  background-color: white;
}
#controls button:hover {
  color: #0059ff;
}
#close{
  display: inline-block;
  float: right;
  margin: .8em 0 0 0;
  padding: .8rem 1.1rem;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
#close span.background{
  width: 0px;
  height: 0px;
  display: block;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#close:hover span.background {
  width: 40px;
  height: 40px;
  top: -1px;
  left: -2px;
}
#close::before,
#close::after {
  content: "";
  float: left;
  height: 12px;
  width: 0px;
  display: block;
  z-index: 2;
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: 0;
  border-right-width: 2px;
}
#close::before{
  transform: rotateZ(45deg);
  margin-right: -2px;
}
#close::after{
  transform: rotateZ(-45deg);
}
#modalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  padding: 2rem;
  z-index: 2;
}

#modalWrapper #modal {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#modalWrapper #modal iframe {
  width: 100%;
  height: 100%;
}